/* RESET CSS */
*, *::after, *::before{
  box-sizing: border-box;
}

img,picture{
  display: block;
  width: 100%;
}
body{
  background-color: #fafafa ;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* TYPOGRAPHY */
h1,h2,p{
  margin: 0;
}
h1{
  font-size: 2.25rem;
}
h2{
  font-size: 1.3rem;
}
.logo{
  font-family: 'PT Mono', monospace;
  cursor: pointer;
  text-decoration: none;
  color: #404040;
  font-size: 1.3rem;
}

.post--description{
  color: #404040;
  font-size: .9rem;
}

@media (min-width:700px){
  h1{
    font-size: 3rem;
  }
  h2{font-size: 1.75rem;}
  body{
    font-size: 1.125rem
  };
  .post--description{
    font-size: 1rem;
  }
}
/* NAVIGATION */
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-nav{
  display: flex;
  list-style: none;
}
.nav-link{
  margin-left: .8em;
  text-decoration: none;
  text-transform: uppercase;
  color: #404040;
}
.nav-link:hover,
.nav-link:focus{
  color: #202020;
  border-bottom: 1px solid #202020;
  transition: color ease 300ms;
}

/* LAYOUT*/

.container{
  padding: 0 1em;
  max-width: 60rem;
  margin: 0 auto;
  border: 1px solid red;
}
.intro {
  color: #fafafa;
  background-image: url(images/blog-image-hero.png);
  background-color: #404040;
  background-size: cover;
  background-position: center ;
  height: 488px;
}
.intro-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 1em;
}
.intro--date{
  order: -1;
}

.continue-link{
  width: 100%;                            ;
  text-align:center ;
  margin: 1em 0;
}

@media (min-width:700px){
  .posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr) );
    grid-template-rows: repeat(2, minmax(500px, 1fr));
    gap: 1em;
  }
}
/* POST */
.post{
  margin: 2em 0;
  display: flex;
  gap:1em;
  flex-direction: column;
}

.post--img{
  order: -1;
}
.post--title{
  order: 1;
}
.post--description{
  order: 2;
}
footer{
  background-color: #202020;
  color: #fff;
  text-align: center;
  padding: 1.5em 0;
}